/result/compare/
/result/own/
/data/images/
/data/lable/
/data/lst_files/
/models/note(paper).txt
/output/best_2_1.lst.pth
/output/best_2_2.lst.pth
/output/best_2_3.lst.pth
/output/best_2_4.lst.pth
/output/best_2_5.lst.pth
